body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*Colors*/

.blue{
  background-color:#1F4B99;
  color:white;
}

.teal{
  background-color: #6CACB9;
  color:white;
}

.white{
  background-color: #FFFFFF;
  color:black;
}

.orange{
  background-color: #DF9563;
}

.red{
  background-color: #9E2B0E;
}

/*Margins*/

.top-10{
  margin-top: 10px;
}

.top-20{
  margin-top: 20px;
}

.top-30{
  margin-top: 30px;
}

.bottom-10{
  margin-bottom: 10px;
}

.bottom-20{
  margin-bottom: 20px;
}

.bottom-30{
  margin-bottom: 30px;
}

/*SideNav*/

.sidenav{
	height: 100%;
	width: 10%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: yellow;
}

/*Result*/

.result{
	background-color: #e0e0e0;
	padding-top: 20px;
}

