.carddetails{
	margin-top: -20px;
}

.collapse.show{
	margin-bottom: 20px;
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.card-subtitle{
    font-size: 1.0rem;
    padding-bottom: 10px;
}

.centered{
    margin: auto;
}



/*Cards*/
.item{
    margin: 20px;
    padding:0;
    border-radius: 10px;
    display: flex;
    cursor:pointer;
    height: 200px;
}

.item span{
    color: #797979;
}

.item:hover{
    background-color: #ededed;
}
  
.imgbox{
    width: 200px;
    height: 200px;
}

.cardimg{
    object-fit: cover;
    width: 200px;
    height: 100%;
    margin:0;
    border-radius: 10px 0 0 10px;
}

.contentbox{
    padding:20px;
    width: 85%
}

.pricebox{
    padding: 40px;
    background-color: #a1da60;
    border-radius: 0 10px 10px 0;
    text-align: center;
    color: white;
    width: 200px;
    float:right;
}


.prices > li{
    display:inline-block;
    margin-right: 10px;
}

.link{
    color:white;
}